@if (post$ | async; as post) { @if (role === 'redacteur') {
<div class="p-5 md:p-20 bg-slate-200 my-10 lg:mx-64">
  <form
    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5"
  >
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Titel</mat-label>
      <input matInput id="title" formControlName="title" required />
      @if (postForm.get('title')?.touched &&
      postForm.get('title')?.hasError('required')) {
      <mat-error> Titel is verplicht </mat-error>
      }
    </mat-form-field>

    <img [src]="post.picture" alt="Post Image" class="h-56 object-cover" />

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Picture URL</mat-label>
      <input matInput id="picture" formControlName="picture" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        id="content"
        formControlName="content"
        class="w-full"
        rows="10"
        required
      ></textarea>
      @if (postForm.get('content')?.touched &&
      postForm.get('content')?.hasError('required')) {
      <mat-error> Content is verplicht </mat-error>
      }
    </mat-form-field>

    <div class="flex gap-10 flex-wrap">
      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput id="author" formControlName="author" required />
        @if (postForm.get('author')?.touched &&
        postForm.get('author')?.hasError('required')) {
        <mat-error> Author is verplicht </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          @for(category of categories; track category ){
          <mat-option [value]="category">{{ category }}</mat-option>
          }
        </mat-select>
        @if (postForm.get('category')?.touched &&
        postForm.get('category')?.hasError('required')) {
        <mat-error> Category is verplicht </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for(status of statuses; track status ){
          <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
        @if (postForm.get('status')?.touched &&
        postForm.get('status')?.hasError('required')) {
        <mat-error> Status is verplicht </mat-error>
        }
      </mat-form-field>

      <p class="text-xl pt-3">
        <strong class="font-semibold">Date:</strong>
        {{ post.createdDate | date : "yyyy-MM-dd" }}
      </p>

      <button
        type="submit"
        [disabled]="!postForm.valid"
        class="bg-green-500 hover:bg-green-700 text-white float-right font-bold mb-5 py-2 px-2 rounded"
      >
        Update Post
      </button>
    </div>
  </form>

  <div class="grid">
    <button
      (click)="deletePost()"
      class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded w-52"
    >
      Delete Post
    </button>
  </div>
</div>

@if(post.status === 'PENDING'){
<app-reviews [postReviews]="post.reviews ?? []" [id]="id" />
}

<app-coments [comments]="post.comments ?? []" [id]="id" [user]="user ?? ''" />

}@else if (role === 'gebruiker' && post.status === 'PUBLISH'){
<div class="p-20 bg-slate-200 my-10 lg:mx-64">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    {{ post.title }}
  </h2>
  <div class="flex flex-col gap-5">
    <img [src]="post.picture" alt="Post Image" class="h-48 object-cover" />

    <div>
      <p>
        <strong class="font-semibold">Date:</strong>
        {{ post.createdDate | date : "yyyy-MM-dd" }}
      </p>
    </div>
    <div>
      <p><strong>Category:</strong> {{ post.category }}</p>
    </div>
    <div>
      <p><strong>Author:</strong> {{ post.author }}</p>
    </div>
    <div>
      <p>{{ post.content }}</p>
    </div>
  </div>
</div>
<app-coments [comments]="post.comments ?? []" [id]="id" [user]="user ?? ''" />
}@else {
<app-no-page></app-no-page>
} }
