@if (post$ | async; as post) { @if (role === 'redacteur') {
<div class="px-20 bg-slate-200 my-10 lg:mx-64">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    {{ post.title }}
  </h2>
  <form
    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-5"
  >
    <div>
      <label for="title">Title</label>
      <input id="title" formControlName="title" />
    </div>
    <img [src]="post.picture" alt="Post Image" class="h-48 object-cover" />
    <div>
      <label for="picture">Picture URL</label>
      <input id="picture" formControlName="picture" />
    </div>
    <div>
      <label for="content">Content</label>
      <textarea id="content" formControlName="content"></textarea>
    </div>
    <div>
      <label for="author">Author</label>
      <input id="author" formControlName="author" />
    </div>
    <div>
      <label for="category">Category</label>
      <select id="category" formControlName="category">
        @for(category of categories; track category){
        <option [value]="category">{{ category }}</option>
        }
      </select>
    </div>
    <div>
      <label for="status">Status</label>
      <select id="status" formControlName="status">
        @for(status of statuses; track status ){
        <option [value]="status">{{ status }}</option>
        }
      </select>
    </div>
    <p>
      <strong class="font-semibold">Date:</strong>
      {{ post.createdDate | date : "yyyy-MM-dd" }}
    </p>

    <div class="flex justify-between">
      <button
        type="submit"
        [disabled]="!postForm.valid"
        class="bg-green-500 hover:bg-green-700 text-white float-right font-bold mt-4 mb-4 py-2 px-2 rounded"
      >
        Update Post
      </button>
    </div>
  </form>
  <button
    (click)="deletePost()"
    class="bg-red-500 hover:bg-red-700 text-white float-left font-bold mt-4 mb-4 py-2 px-2 rounded"
  >
    Delete Post
  </button>

  @if(post.status === 'PENDING') {
  <form
    [formGroup]="reviewForm"
    (ngSubmit)="onSubmitReview()"
    class="flex flex-col gap-5"
  >
    <div class="pb-10">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Reviews</h2>
      <div>
        @for (review of post.reviews; track $index) {
        <div class="flex gap-x-3">
          <p>Status: {{ review.reviewStatus }}</p>
          <p>Message: {{ review.reviewMessage }}</p>
        </div>
        }
      </div>

      <div class="flex flex-col gap-y-3">
        <label for="reviewStatus" class="font-bold">Review status</label>
        <div class="flex gap-x-5">
          <div>
            <input
              type="radio"
              id="approve"
              formControlName="reviewStatus"
              value="APPROVED"
              (change)="onStatusChange('APPROVED')"
            />
            <label for="approve">Approve</label>
          </div>

          <div>
            <input
              type="radio"
              id="reject"
              formControlName="reviewStatus"
              value="REJECTED"
              (change)="onStatusChange('REJECTED')"
            />
            <label for="reject">Reject</label>
          </div>
        </div>
      </div>

      @if(isRejected) {
      <div>
        <div class="flex gap-x-5">
          <label for="reviewMessage">Reject Reason</label>
          <input
            id="reviewMessage"
            formControlName="reviewMessage"
            placeholder="Provide reason for rejection"
          />
        </div>
      </div>
      }
      <button
        type="submit"
        [disabled]="!postForm.valid"
        class="bg-green-500 hover:bg-green-700 text-white float-right font-bold mt-4 mb-4 py-2 px-2 rounded"
      >
        Update Post
      </button>
    </div>
  </form>
  }
</div>

<div class="mt-10">
  <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Comments</h2>
  <div class="flex flex-col gap-y-3">
    <div class="bg-slate-100 p-5 flex flex-col gap-y-2">
      @for (comment of comments$ | async; track $index) {
      <div class="flex gap-x-3 p-3 border-2 justify-between">
        <p>{{ comment.comment }}</p>
        <div class="flex gap-3">
          @if (comment.user === roleService.getUser()) {
          <button
            (click)="editComment(comment)"
            class="p-2 rounded-md bg-blue-300"
          >
            Edit
          </button>
          <button
            (click)="deleteComment(comment.id)"
            class="p-2 rounded-md bg-red-300"
          >
            Delete
          </button>
          }
        </div>
      </div>
      }
    </div>

    <form
      [formGroup]="commentForm"
      (ngSubmit)="onSubmitComment()"
      class="flex flex-col gap-5"
    >
      <div class="flex gap-x-5 justify-between">
        <textarea
          name="comment"
          id=""
          placeholder="Comment"
          formControlName="comment"
          class="w-4/6 p-5 rounded-lg"
        ></textarea>
        <button
          type="submit"
          [disabled]="!commentForm.valid"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-2 rounded my-10"
        >
          {{ editingCommentId ? "Update Comment" : "Add Comment" }}
        </button>
      </div>
    </form>
  </div>
</div>

}@else if (role === 'gebruiker' && post.status === 'PUBLISH'){
<div class="p-20 bg-slate-200 my-10 lg:mx-64">
  <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
    {{ post.title }}
  </h2>
  <div class="flex flex-col gap-5">
    <img [src]="post.picture" alt="Post Image" class="h-48 object-cover" />

    <div>
      <p>
        <strong class="font-semibold">Date:</strong>
        {{ post.createdDate | date : "yyyy-MM-dd" }}
      </p>
    </div>
    <div>
      <p><strong>Category:</strong> {{ post.category }}</p>
    </div>
    <div>
      <p><strong>Author:</strong> {{ post.author }}</p>
    </div>
    <div>
      <p>{{ post.content }}</p>
    </div>
  </div>
  <div class="mt-10">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Comments</h2>
    <div class="flex flex-col gap-y-3">
      <div class="bg-slate-100 p-5 flex flex-col gap-y-2">
        @for (comment of comments$ | async; track $index) {
        <div class="flex gap-x-3 p-3 border-2 justify-between">
          <p>{{ comment.comment }}</p>
          <div class="flex gap-3">
            @if (comment.user === roleService.getUser()) {
            <button
              (click)="editComment(comment)"
              class="p-2 rounded-md bg-blue-300"
            >
              Edit
            </button>
            <button
              (click)="deleteComment(comment.id)"
              class="p-2 rounded-md bg-red-300"
            >
              Delete
            </button>
            }
          </div>
        </div>
        }
      </div>

      <form
        [formGroup]="commentForm"
        (ngSubmit)="onSubmitComment()"
        class="flex flex-col gap-5"
      >
        <div class="flex gap-x-5 justify-between">
          <textarea
            name="comment"
            id=""
            placeholder="Comment"
            formControlName="comment"
            class="w-4/6 p-5 rounded-lg"
          ></textarea>
          <button
            type="submit"
            [disabled]="!commentForm.valid"
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-2 rounded my-10"
          >
            {{ editingCommentId ? "Update Comment" : "Add Comment" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
}@else {
<app-no-page></app-no-page>
} }
