<div
  class="bg-white shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105"
>
  @if (post.picture) {
  <img [src]="post.picture" alt="Post Image" class="w-full h-48 object-cover" />
  }
  <div class="p-4">
    <h2 class="text-xl font-semibold text-gray-800 mb-2">
      {{ post.title }}
    </h2>
    <p class="text-gray-600 mb-4 line-clamp-3">{{ post.content }}</p>
    <div class="text-sm text-gray-500 space-y-1">
      <p><strong class="font-semibold">Author:</strong> {{ post.author }}</p>
      <p>
        <strong class="font-semibold">Category:</strong> {{ post.category }}
      </p>
      @if (role === 'redacteur') {
      <p><strong class="font-semibold">Status:</strong> {{ post.status }}</p>
      }
      <p>
        <strong class="font-semibold">Date:</strong>
        {{ post.createdDate | date : "yyyy-MM-dd" }}
      </p>
    </div>
  </div>
  <button
    [routerLink]="['/post', post.id]"
    routerLinkActive="router-link-active"
    class="bg-green-500 hover:bg-green-700 text-white float-right font-bold mt-4 mb-4 py-2 px-2 rounded absolute bottom-5 right-5"
  >
    Details
  </button>
</div>
