<div class="container mx-auto my-5 p-3 bg-black/10 rounded-xl">
  <div class="flex items-center">
    <form #filterForm="ngForm" (ngSubmit)="onSubmit(filterForm)">
      <div class="flex flex-wrap items-center gap-3 pt-3">
        <mat-form-field appearance="fill">
          <mat-label>Titel</mat-label>
          <input
            matInput
            name="title"
            id="title"
            placeholder="Search by Title"
            [(ngModel)]="filter.title"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <input
            matInput
            name="content"
            id="content"
            placeholder="Search by Content"
            [(ngModel)]="filter.content"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input
            matInput
            name="author"
            id="author"
            placeholder="Search by Author"
            [(ngModel)]="filter.author"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input
            matInput
            name="createdDate"
            placeholder="Search by Date"
            [matDatepicker]="datepicker"
            [(ngModel)]="filter.createdDate"
          />
          <mat-datepicker #datepicker />
          <mat-datepicker-toggle [for]="datepicker" matSuffix />
        </mat-form-field>
        <div class="flex gap-3 h-fit mb-5">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Search
          </button>
          <button
            type="button"
            (click)="clearFilter()"
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
